body {
  background-color: #deb887;
  margin: 40px 100px;
  font-family: 'Oswald', sans-serif;
  color: #663300;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 30px;
}

div {
  display: inline-block;
}

form {
  text-align: center;
}

.picture {
  float: left;
  margin: 20px;
}

.text {
  display: inline;
}
